header#intro
  img.intro-avatar src="https://de.gravatar.com/userimage/2123/f32755338cf0e670020cd6ae34693c0c.jpg?size=300"
  .intro-text
    a href="/" My name is <strong>Hendrik Mans</strong>. I'm a full-stack web application developer from Hamburg, Germany, primarily working with Ruby on Rails, Elixir/Phoenix, and JavaScript.
