@import url('https://fonts.googleapis.com/css?family=Noto+Serif:400,700');

$col1: steelblue;
$col2: peru;
$col3: rgb(138, 138, 138);
$col-link: #666;

$font: 18px/1.5 "Noto Serif","Helvetica Neue",Arial,sans-serif;

* { box-sizing: inherit; }
html, body { box-sizing: border-box; }

body {
  font: $font;
  background-color: white;
  color: #333;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  padding: 2vmax 2vmax 10vmax 2vmax;
}

nav[role="main"] {
  color: grey;
  font-size: 0.825em;

  a { color: inherit; }
}

main {
  margin-top: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  margin: 2em 0 1em 0;
}

h2 {
  color: $col2;
}

a {
  color: $col1;
}

li {
  margin: 0.5em 0;
}



/* action lists */
ul.actions {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 0.5em;
  }
}


/* buttons */
button, a.button {
  display: inline-block;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 2px;
  background-color: $col1;
  color: white;
  text-decoration: none;
  font-size: 0.825em;
  border: none;
  cursor: pointer;

  &.button-grey {
    background-color: lightgrey;
    color: dimgrey;
  }

  &.button-red {
    background-color: tomato;
  }
}





/* forms */
label {
  display: block;
  font-weight: bold;
  abbr { color: grey; text-decoration: none !important }
}

input, textarea, select {
  font: inherit;
}

input.string, input.password, input.email, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
}

input[type="submit"] {
  @extend button;
}

.input.field_with_errors {
  input, textarea { border-color: crimson }
}

textarea {
  height: 7em;
}

textarea#post_body {
  height: 18em;
}

.input {
  margin: 1em 0;
}

.error, .help-block {
  color: crimson;
  font-size: 0.825em;
}


/* stupid non-UJS link forms */

form.link {
  display: inline;
}

/* post specific */

article.post {
  h1 {
    color: $col2;
    margin-top: 0em;
    font-size: 180%;
  }
}


/* post list */

ul.post-list {
  list-style: none;
  padding-left: 0;

  li {
    margin-left: 0;
    h2 { margin-top: 0 }
  }
}

.post-meta {
  color: grey;
  font-size: 0.825em;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}
