@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,700,700i|Open+Sans:400,700');
@import "partials/_forms.scss";

$col1: steelblue;
$col2: peru;
$col3: rgb(138, 138, 138);
$col-gray: #aaa;
$font: 16px/1.7 "Merriweather","Georgia","Times New Roman",serif;
$font-heading: 1rem/1.2 "Open Sans",Helvetica,sans-serif;

%collapse {
  >*:first-child { margin-top: 0 }
  >*:last-child { margin-bottom: 0 }
}


html, body { box-sizing: border-box }
*, *:before, *:after { box-sizing: inherit }


body {
  font: $font;
  background-color: white;
  color: #555;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 660px;
  padding: 2vmax 2vmax 10vmax 2vmax;
}

nav[role="main"] {
  color: $col-gray;
  font: $font-heading;

  a { color: inherit; }
  a:hover { color: #555; }
}

main {
  margin-top: 3em;
}

footer[role="main"] {
  color: $col-gray;
  font-size: 0.825em;
  a { color: inherit; }

  margin-top: 100px;
}

h1, h2, h3, h4, h5, h6 {
  font: $font-heading;
  font-size: inherit;
  font-weight: bold;
  margin: 2em 0 1em 0;
}

h1 {
  margin-top: 0em;
  font-size: 2rem;
  color: $col2;
}

h2 {
  font-size: 1.5rem;
  color: $col2;
}

h3 {
  font-size: 1.25rem;
  color: $col2;
}

a {
  color: $col1;
}

li {
  margin: 0.5em 0;
}

blockquote {
  @extend %collapse;

  color: #777;
  background-color: #eee;
  border-radius: 1em 1em 1em 0;
  box-shadow: #ddd 1px 2px 0 0;
  font-style: italic;
  margin: 2em 0;
  padding: 1.5rem;
}

a.footnote {
  text-decoration: none;
  background-color: #e2e2e2;
  color: #555;
  padding: 0 2px;
  font-size: 82.5%;
}

.footnotes {
  margin-top: 3rem;
  color: grey;
  font-size: 82.5%;

  ol { padding-left: 2rem }
  a.reversefootnote { text-decoration: none }
}

.intro {
  background-color: rgb(210, 205, 173);
  padding: 1rem;
}

img, canvas {
  max-width: 100%;
}

code {
  background-color: #f0f0f0;
  font: 82.5% "Office Code Pro",Menlo,Consolas,Monaco,monotype;
  padding: 2px 4px;
  border-radius: 2px;
}

ul {
  padding-left: 1.5em;
}

/* code blocks */
pre>code {
  padding: 15px !important;
  line-height: 1.4;
}

/* action lists */
ul.actions {
  list-style: none;
  padding-left: 0;
  li {
    display: inline-block;
    margin-right: 0.5em;
  }
}


/* buttons */
button, a.button {
  display: inline-block;
  line-height: 2em;
  padding: 0 1em;
  border-radius: 2px;
  background-color: $col1;
  color: white;
  text-decoration: none;
  font-size: 0.825em;
  border: none;
  cursor: pointer;

  &.button-grey {
    background-color: lightgrey;
    color: dimgrey;
  }

  &.button-red {
    background-color: tomato;
  }
}





/* forms */
label {
  display: block;
  font-weight: bold;
  abbr { color: grey; text-decoration: none !important }
}

input, textarea, select {
  font: inherit;
}

input.string, input.password, input.email, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid lightgrey;
}

input[type="submit"] {
  @extend button;
}

.input.field_with_errors {
  input, textarea { border-color: crimson }
}

textarea {
  height: 7em;
}

textarea#post_body {
  height: 18em;
}

.input {
  margin: 1em 0;
}

.error, .help-block {
  color: crimson;
  font-size: 0.825em;
}


/* stupid non-UJS link forms */

form.link {
  display: inline;
}

/* post specific */

article.post {
  h1 {
    color: $col2;
    margin-bottom: 1rem;
  }

  .post-blurb {
    color: $col-gray;
    font-size: 120%;
    margin: 1em 0 2em 0;
  }
}


/* post list */

ul.post-list {
  list-style: none;
  padding-left: 0;

  li {
    margin: 2em 0;

    .post-date {
      color: $col-gray;
    }

    a { font-weight: bold }

    h2 { margin-top: 0 }
  }
}

.post-meta {
  color: $col-gray;
  font-size: 0.825em;
  margin: 0.5rem 0;

  a {
    color: inherit;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.post-link {
  a:first-child { font-weight: bold; }
}
